<style>
    #shopify-section-{{section.id}}.download-section{
        margin-bottom:50px;
    }
    #shopify-section-{{section.id}}.download-section .section-header {
        margin-bottom: 0px;
    }
    #shopify-section-{{section.id}}.download-section .section-header h2 {
        font-size: 24px;
    }
    #shopify-section-{{section.id}} .index-section--download {
        margin: 0 0 0 0;
    }
    #shopify-section-{{section.id}} .index-section--download .h4 {
        margin-top:15px;
        margin-bottom: 5px;
        border-bottom: 1px solid #000;
        padding-bottom: 5px;
    }
    #shopify-section-{{section.id}} .download-block {
        display: flex;
        align-items: center;
        margin: 10px 0;
    }
    #shopify-section-{{section.id}} .download-block i {
        font-size: 2em;
        margin-right: 10px;
        margin-bottom: 10px;
    }

    .sirius-downloads{
    margin-top:3rem;
  }

  .sirius-manual-title{
  margin-top:1rem;
  margin-bottom:6px;
  
}

  .sirius-manual-title:after {
    content: '';
    background: red;
    position: absolute;
    bottom: 5px;
    left: 0;
    height: 3px;
    width: 80px;
    border-radius:5px;
}

.download-subtitle{
  margin-bottom:10px;
}
.download-block span{
font-size:18px;
}

.download-pdf-title{
  text-transform: uppercase;
}

.download-pdf-title-img{
  display:flex;
  justify-content:center;
  align-items:center;
  margin-left:20px; 
  font-weight:bold;
}

    </style>
    
    {%- if section.settings.divider -%}<div class="section--divider">{%- endif -%}
    
        <div class="container sirius-downloads">
        
          {%- if section.settings.title != blank -%}
            <header class="section-header text-center">
              <h1 class="page-header__title sirius-red-color font-bold ">
                {{ section.settings.title | escape }}
              </h1>
              {%- if section.settings.subtitle != blank -%}
              <h1 class="font-bold download-subtitle ">
                {{ section.settings.subtitle | escape }}
              </h1>
            {% endif %}
            </header>
          {%- endif -%}
        
          {%- if section.blocks.size > 0 -%}
        
            <script type="application/ld+json">
              {
                "@context": "https://schema.org",
                "@type": "FAQPage",
                "mainEntity": [
                  {% for block in section.blocks %}
                    {% case block.type %}
                      {% when 'question' %}
                        {
                          "@type": "Question",
                          "name": {{ block.settings.title | json }},
                          "acceptedAnswer": {
                            "@type": "Answer",
                            "text": {{ block.settings.text | json }}
                          }
                        }{% unless forloop.last %},{% endunless %}
                    {% endcase %}
                  {% endfor %}
                ]
              }
            </script>
        
            {%- for block in section.blocks -%}
              <div {{ block.shopify_attributes }}>
                {% case block.type %}
                  {% when 'rich-text'%}
                    <div class="index-section index-section--download">
                      <div class="text-{{ block.settings.align_text }}">
                        <div class="grid">
                          <div class="{% if block.settings.narrow_column %} medium-up--three-quarters medium-up--push-one-eighth{% endif %} relative">
                            {%- if block.settings.title != blank -%}
                              <p class="h2 sirius-manual-title font-bold">
                                {{ block.settings.title | escape }}
                              </p>
                            {% endif %}
                          </div>
                        </div>
                      </div>
                    </div>
        
                  {% when 'download'%}
                      <a href="{{block.settings.download_url}}" class="download-block" target="_blank">
                                                 
                        <div class="download-pdf-title {% if block.settings.pdf-icon != blank %} flex {% endif %}">{% if block.settings.pdf-icon != blank %}<img src="{{ block.settings.pdf-icon | img_url : 'master' }}">{% else %}<i class="fas fa-file-pdf sirius-red-color" style="font-size:18px; "></i> {% endif %}{% if block.settings.pdf-icon != blank %}<div class="download-pdf-title-img">{% endif %}{{ block.settings.title }} {% if block.settings.pdf-icon != blank %}</div>{% endif %}</div>

                      </a>
                {% endcase %}
              </div>
            {%- endfor -%}
          {%- endif -%}
        
          {%- if section.blocks.size == 0 -%}
            <div class="placeholder-noblocks">
              {{ 'home_page.onboarding.no_content' | t }}
            </div>
          {%- endif -%}
        </div>
        
        {%- if section.settings.divider -%}</div>{%- endif -%}
        
        {% schema %}
        {
          "name": "Download",
          "class": "download-section index-section",
          "settings": [
            {
              "type": "text",
              "id": "title",
              "label": "Title",
              "default": "FAQs"
            },
            {
            "type":"text",
            "id":"subtitle",
            "label":"Subtitle"
            }
          ],
          "blocks": [
            {
              "type": "rich-text",
              "name": "Title",
              "settings": [
                { 
                  "type": "text",
                  "id": "title",
                  "label": "Title",
                  "default": "Rich text"
                },
                {
                  "type": "select",
                  "id": "align_text",
                  "label": "Align",
                  "default": "left",
                  "options": [
                    {
                      "value": "left",
                      "label": "left"
                    },
                    {
                      "value": "Center",
                      "label": "Center"
                    },
                    {
                      "value": "right",
                      "label": "Right"
                    }
                  ]
                }
              ]
            },
            {
              "type": "download",
              "name": "Download",
              "settings": [
                {
                  "type":"image_picker",
                  "id":"pdf-icon",
                  "label":"Icon"
                },
                {
                  "type": "text",
                  "id": "title",
                  "label": "Download name",
                  "default": "Name"
                },
                {
                    "type": "url",
                    "id": "download_url",
                    "label": "Download Url"
                  }
              ]
            },
            {
              "type": "blank",
              "name": "Blank (avoid trans error)",
              "settings": [
                {
                  "type": "text",
                  "id": "title",
                  "label": "Download name"
                },
                {
                    "type": "url",
                    "id": "download_url",
                    "label": "Download Url"
                  }
              ]
            }
          ],
          "presets": [
            { 
              "name": "Download"
            }
          ]
        }
        {% endschema %}
        